.container{
    margin:25px;
}
#top{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
#top ul{
    float: right;
}
#top li{
    display: inline;
}
#top li a{
    margin: 5px;
}
.site-text{
    font-size:35px;
    font-weight:bold;
    border-left:20px solid white;
}
.bar{
    margin-top: 20px;
    border-bottom: 30px solid rgb(238, 238, 238) ;
    border-left: 20px solid rgb(238, 238, 238) ;
    border-top: 15px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);
}
.bar-text{
    width: 20%;
}
.hero-bar button{
    margin-top:20px;
}
